{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Duree</th>
                <th>DateSortie</th>
                <th>Note</th>
                <th>AgeMinimal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.titre }}</td>
                <td>{{ film.duree }}</td>
                <td>{{ film.dateSortie ? film.dateSortie|date('Y-m-d') : '' }}</td>
                <td>{{ film.note }}</td>
                <td>{{ film.ageMinimal }}</td>
                <td>
                    <a href="{{ path('film_show', {'id': film.id}) }}">show</a>
                    <a href="{{ path('film_edit', {'id': film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('film_new') }}">Create new</a>
    <a href="{{ path('film_action14') }}">Search action 14</a>
{% endblock %}
