<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cineland !!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<div id="navigation" >
    		<hr />
	 			<a href="{{ path('accueil') }}">Accueil</a>
	 			- <a href="{{ path('acteur_index') }}">Acteurs</a>
	 			- <a href="{{ path('film_index') }}">Films</a>
	 			- <a href="{{ path('genre_index') }}">Genres</a>
	 			- <a href="{{ path('init') }}">Initialisation</a>
			<hr />
		</div>

        {% block body %}
        	<div id="contenu" >
	 			{% block contenu %}{% endblock %}
			</div>
			<hr />
			<div id="pied_de_page" >
				<p>&copy; Yann&Brice les boss finaux des internets n°2.</p>
			</div>
		{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
